[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/KostyaJRZ
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/KostyaJRZ
	label-Verified = -1..+1 group user/KostyaJRZ
	push = group user/KostyaJRZ
	read = group user/KostyaJRZ
	rebase = group user/KostyaJRZ
	removeReviewer = group user/KostyaJRZ
	submit = group user/KostyaJRZ
[access "refs/heads/*"]
	create = group user/KostyaJRZ
	push = +force group user/KostyaJRZ
	pushMerge = group user/KostyaJRZ
	read = group user/KostyaJRZ
[access "refs/tags/*"]
	push = group user/KostyaJRZ
	push = +force group user/KostyaJRZ
